.columns > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media (min-width: 900px) {
  .columns > div { flex-direction: row; }
  .columns.60-40 > div > div:first-child { flex: 0 0 60%; }
  .columns.60-40 > div > div:last-child { flex: 0 0 40%; }
}

.columns-img-col img { width: 100%; max-width: 100%; height: auto; }